<div class="container">
  <div class="row">
    <div class="col-md-12" style="text-align:center; margin:0px 0px 80px 0px;">
      <img height="300" width="100%" src="https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=842490609,423193022&fm=27&gp=0.jpg">
    </div>
  </div>
  <div class="row">
    <div class="col-md-5" id="landing" >
      <app-login></app-login>
    </div>
    <div class="col-md-6 " id="landing" style="overflow:scroll;"  >
      <app-register></app-register>
    </div>
  </div>
</div>
